
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

.header{
    display: flex;
    background-color: #3A6351;
    justify-content: space-between;
    align-items: center;
    padding: 13px 13%;
}

.logo{
    color: #F2EDD7;
    font-size: 24px;
    font-weight: 1000;
}

.head-links{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 25px;
}

a,
#hero-subtext {
    text-decoration: none;
    font-size: 18px;
    color: #F2EDD7;
}

.box-1 img{
    width: 50%;
    height: auto;
}

.box-1{
    display: flex;
    padding: 60px 13%;
    background-color: #3A6351;
    gap: 30px;
}

#hero{
    font-size: 48px;
    color: #F2EDD7;
    font-weight: 1000;
}

button{
    font-size: 16px;
    padding: 5px 25px;
    color: #F2EDD7;
    font-weight: 300;
    background-color: #3A6351;
    border: 3px solid #F2EDD7;
    text-align: center;
    transition: all 0.2s;
}

button:hover{
    background-color: #F2EDD7;
    color: #3A6351;
}

.text{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between;
}

.box-2 div img{
    width: 200px;
    height: 200px;
    border: 3px solid #3A6351;
    border-radius: 12px;
}

.box-2{
    display: flex;
    flex-direction: column;
    background-color: #F2EDD7;
    justify-content: center;
    align-items: center;
    padding: 60px 13%;
    gap: 40px;
}

.random{
    font-size: 36px;
    font-weight: 1000;
    color: #3A6351;
}

.container{
    display: flex;
    gap: 50px;
}

.phototext{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    color: #3A6351;
    font-weight: 600;
    gap: 20px;
    max-width: 200px;
}